<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.WadhuWarProject.WadhuWar">
    <!--
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    -->
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.USB_PERMISSION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <queries>
        <intent>
            <action android:name="com.google.android.youtube.api.service.START" />
        </intent>
    </queries>

    <application
        android:name=".applications.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo_final"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/logo_final"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activity.BaseActivity"
            android:exported="false" />
        <activity
            android:name=".activity.EmailOtpVarifyActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MobileOtpVarifyActivity"
            android:exported="false" />
        <activity
            android:name=".activity.LoginRegisterFirstActivity"
            android:exported="false" />
        <activity
            android:name=".activity.otpVerificationNewActivity"
            android:exported="true" />
        <activity
            android:name=".activity.RegistrationNewActivity"
            android:exported="true" />
        <activity
            android:name=".activity.AccountTransactionActivity"
            android:exported="false" />
        <activity
            android:name=".activity.InsertStep7Activity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".activity.PartnerPreferencesFormActivity2"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".activity.CertificateActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".activity.AddCertificateActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".activity.DetailMatchesForSearchActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ReasonForReportActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".activity.SearchHelpActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".activity.MembersPayHelpActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ProfilePhotosHelpActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".activity.EBookActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".activity.ChatListActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".activity.AdvisorActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <!--
          <activity android:name="com.paytm.pgsdk.PaytmPGActivity"
            android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation|keyboard"/>
        -->
        <activity
            android:name=".activity.AdvisorPaymentSuccessActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".activity.AdvisorPlanActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".activity.ChatActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".activity.ViewFamilyInDetailActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".activity.ViewSelfProfileActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".activity.ProfileHomeActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".activity.LikeShowActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".activity.PaymentSuccessMelavaActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".activity.PaymentSuccessActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".activity.MelavaDetailActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".activity.PartnerPrefInDetailActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".activity.FamilyInDetailActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".activity.AddressInDetailActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".activity.TermsConditionActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".activity.AddPhotosActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".activity.ImagesActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".activity.ZoomActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".activity.SearchResultsActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".activity.RecentlyViewedActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".activity.PremiumActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".activity.RecentVisitorMatchesActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".activity.NewMatchesActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".activity.PremiumMatchesActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".activity.MyPhotosActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".activity.AccommodationEditActibity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".activity.PartnerPreferencesFormActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".activity.AdvertiseDetailActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".activity.CommentSuccessStoryActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".activity.NewsDetailActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".activity.SuccessStoriesDetailActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".activity.ViewAllNewsActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".activity.ViewAllAdvertisementActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".activity.ViewAllSuccessStoryActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".activity.DetailMatchesActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".activity.HideDeleteActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".activity.ShaadiMeetActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".activity.MobileEditActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".activity.NotificationsActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".activity.HelpSupportActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".activity.AlertActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".activity.AccountSettingActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".activity.ContactFiltersActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".activity.PartnerPreferencesActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".activity.LifestyleActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".activity.EducationCareerActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".activity.AstroDetailsActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".activity.FamilyActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".activity.ReligiousBackgroundActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".activity.MoreAboutMyselfPartnerFamilyActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".activity.BasicInfoActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".activity.MyProfileActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".activity.AboutMeAndMembershipActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".activity.CarrerDetailAndOtherAttributeActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".activity.FamilyDetailActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".activity.AccomodationDetailActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".activity.RegistrationActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".activity.FirstScreenActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".activity.LoginActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".activity.OTPVerificationActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="wadhuwar.com"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SplashActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".Receiver.NetworkStateReceiver" />

        <service
            android:name=".firebase.MyFirebaseService"
            android:enabled="true"
            android:exported="true"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="channel_02" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service
            android:name="com.google.firebase.components.ComponentDiscoveryService"
            android:directBootAware="true"
            android:exported="false">
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.datatransport.TransportRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.iid.Registrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <!--
                This registrar is not defined in the dynamic-module-support sdk itself to allow non-firebase
                clients to use it as well, by defining this registrar in their own core/common library.
            -->
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.dynamicloading.DynamicLoadingRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
        </service>
        <service
            android:name="com.google.android.datatransport.runtime.backends.TransportBackendDiscovery"
            android:exported="false">
            <meta-data
                android:name="backend:com.google.android.datatransport.cct.CctBackendFactory"
                android:value="cct" />
        </service>

        <receiver
            android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>